html{
scroll-behavior: smooth;
}

body{
    background-color: #323232;
    color: #dee3e2;
}

.navbar{
    border-bottom: solid 3px #18b0b0;
    opacity: 0.7;
}

.welcome-text{
    display: none;
    visibility: hidden;
}

#home-section{
    background-image: url(../images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}

#home-section .dark-overlay{
    position: relative;
    width: 100%;
    min-height: 800px;
    background-color: #323232ab;
}

#home-section .home-inner{
    padding-top: 100px;
}

#home-section .fas{
    color: #18b0b0;
    
}

#home-section .card-part{
    padding-top: 135px;
}

.display-4{
    font-size: 3rem;
}

.explore-img, .create-img, .share-img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* margin-top: 15%; */
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.explore-img:hover, .create-img:hover, .share-img:hover{
    box-shadow: 7px 11px 20px #204051;
}

.contact-icons{
    height: 2.7rem;
    cursor: pointer;
}

/* MEDIA QUERY */

@media only screen and (max-width:1199.98px){
   .display-4{
        font-size: 2.5rem;
    }

    #home-section .lead{
        font-size: 1rem;
    }

    #home-section .fas{
        font-size: 1.5rem;
    }

    #home-section .card-part{
        padding-top: 40px;
    }
}

@media only screen and (max-width:991.98px){
    .welcome-text{
        display: block;
        visibility: visible;
        text-align: center;
    }

}
